// colors
$off-black-color: #1A1A1A;
$white: white;
$grey: #D5D8DA;
$grey-light: #F7F7FA;

// modal
$modal-spacing-default: 1rem;
$modal-top-spacing-default: 1.25rem;

//breakpoints
$md-breakpoint: 992px
